.contacto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    padding:50px;
    &__form__titulo{
        width: fit-content;
        height: auto;
       margin: 0 auto;
        text-align: center;
        font-size: 20px;
    }
}

.contacto__ubicacion{
  width: fit-content;
  height: auto;
  font-size: 16px;
  padding-top: 50px;

}

.form-label{
 
  padding-top: 20px;
}
