*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    font-family: 'Mukta', sans-serif;
    display: grid;
    grid-template-areas: 
    'header header header'
    'main main main'
    'footer footer footer'
    ;
    grid-template-columns: auto;
    grid-template-rows: 1fr 18fr 1fr 1fr;
    gap: 20px;
    grid-auto-flow: dense;
    background-color: map-get($colores, "color-principal");
    height: 100vh;
    margin: 0%;
    width: auto;

& header{
    grid-area: 1/1/1/4;
    width: auto;
    height: 200px;
}
& main{
    grid-area: 2/1/2/2;
    width: auto;
}
& footer{
    grid-area: 5/1/5/1;
    
}

}

.encabezado__mobile{
    
    @include mediaQueryMobile{
        display: none;
    }
}
.categorias__mobile{
    @include mediaQueryMobile{
        display: none;
    }

&__conjuntos{
    display: none;   
}
&__bodys{
    display: none;
          
}
&__trajesDeBano{
    display: none;
    
}
&__maternal{
    display: none;
}
&__pijamas{
    display: none;
}
&__sexy{
    display: none;
}

}
.ingresos__mobile{
    display: none;
&__corpino{
    display: none;
}
&__body{
    display: none;
}
&__camison{
    display: none;
}
}


.encabezado{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100px;
    padding: 1px;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
    top: 0;
    background-color: map-get($colores, "color-principal");
    box-sizing: border-box;
    &__barraPromo{
        background-color: map-get($colores, "color-secundario2");
    width: 100%;
    height: 30px;
    padding: 1px;
    margin: 1px 5px 1px 5px;
    align-items: center;
    text-align: center;
    }
    &__navegador{
    padding: 2px 0px;
    margin: 0 auto 0 auto;
    height: auto;
    width: 100%;
    align-content:space-between;
    text-align:center;
    flex-wrap: wrap; 
    }
    &__whatsapp img{
        width: 80px;
    position: fixed;
    margin: 20px 10px 20px 10px;
    padding: 20px 10px 20px 10px;
    right: 15px;
    bottom: 15px;
    overflow: hidden; 
    }
    &__logo img{
        height: 100px;
        width:auto;
        margin: 0 auto;
        padding: 20px 1px 20px 1px;
        align-items:center;
        justify-content:space-evenly;   
    }
}

.pages{
    display:flex;
   flex-direction: row;
   list-style: none;
   padding: 1px;
   justify-content: space-evenly;
   align-items: center;
   width: 100%;
   height: 100px;
   margin: 0 0 auto 1px ;
   &__item {
    margin: 0 auto;
   width: auto;
   height: 3px;
   text-align:center;
   border: 1 map-get($colores, "color-secundario");
   font-size: 20px;

   a{
    font-size: 16px;
    font-weight: 20px;
    line-height: 10px;
    letter-spacing: 1px; 
    text-decoration: none;
    color: black;
    line-height: 1.5;
    word-spacing: 1.5; 
   }
   }
}

.fin{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:map-get($colores, "color-secundario");
    background-position-x: right;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0%;
    list-style: none;
    
    &__logo{
        width: 100px;
        height: auto;
        align-items: center; 

}
    &__logo img{
        width: 100px;
        height: auto;
        object-fit: cover;
        margin-top: 20px; 
    }
    &__redes{
        flex-direction: row;
        margin: 0 auto;
        margin-bottom: 30px;
        height: auto;
        width: auto;
    }
    &__ubicacion{
        width: auto;
        height: auto;
        margin: 0 auto;
    }
    &__iconos{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    }
    &__iconos__button{
        width: 100px;
        height: 100px;
        border: none;
        border-radius: 10px;
        margin: 5px 5px 5px 5px;
        cursor: pointer;
        padding: 0 auto;
        font-size: 100px;
        display: flex;
        justify-content:flex-start;
        background-color: map-get($colores, "color-secundario"); 
    }
    &__lista{
        a{
            text-decoration: none ;
            color: black;

        }
    }
    
}



h2{
    text-align: center;
    background-color: pink;
    font-size: 30px;
    width: 100%;
    height: 50px;
    padding: 1px;
    margin: 1px 5px 1px 5px;
}

h4{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;

&__whatsapp{
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    margin-top: 30PX;
    
}
}

h5{
    text-align: center;
    font-size: 25px;
}

.img-thumbnail{
    width: 100px;
   height: 50px;
   padding: 1px;
   margin: 1px ;
 
}
