.banner{
    @include flex (row, space-evenly, center, wrap)
    margin: 1px 20px 1px 20px;
    overflow: hidden;
    box-sizing:border-box;
}

.carousel-inner{
    width: auto;
    height: 800px;
&-item{
    width: auto;
    height: 800px;
}
}

.ingresos{
    @include flex (row, space-evenly, flex-start, wrap)
    position: relative;
}
.encabezado__mobile{
    display: none;
}
.categorias__mobile{
    display: none;
    
&__conjuntos{
    display: none;   
}
&__bodys{
    display: none;
          
}
&__trajesDeBano{
    display: none;
    
}
&__maternal{
    display: none;
}
&__pijamas{
    display: none;
}
&__sexy{
    display: none;
}
}
.ingresos__mobil{
    display: none;
&__corpino{
    display: none;
}
&__body{
    display: none;
}
&__camison{
    display: none;
}
}

.categorias{
  
    display: flex;
    flex-direction: row;
    margin: 20px 5px;
    height: auto;
    flex-wrap: wrap;
    justify-content:flex-start;
    overflow:hidden;
    width:100%;
    align-content: 100vh;
    background-image: url(./css-styles/imagenes/fondo.jpg);
    background-repeat:repeat;
&__conjuntos{
    width: 400px;
    height: 600px;
    padding: 0 auto;
    margin:20px 50px 50px 100px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
    align-items: center;
}
&__conjuntos img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}
&__conjuntos:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
}
&__bodys{
    width: 400px;
    height: 600px;
    padding: 0 auto;
    margin: 30px 100px 50px 150px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
}
&__bodys img{
   width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
   
}
&__bodys:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
}
&__trajesDeBano{
    width: 400px;
    height: 600px;
    padding: 0 auto;
    margin:20px 50px 50px 150px;
     position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 20px; 
 }
 &__trajesDeBano:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
 }
 &__trajesDeBano img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}
&__pijamas {
    width: 400px;
    height: 600px;
    padding: 0 auto;
    margin:20px 100px 50px 100px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
 }
 &__pijamas:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
 }
 &__pijamas img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
 }
 &__maternal{
 
    width: 400px;
    height: 600px;
    padding: 0 auto;
    margin:20px 100px 50px 100px;
    position:relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
 }
 &__maternal:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
 }
 &__sexy{
    width: 400px;
    height: 600px;
    padding: 0 auto;
    margin:20px 50px 50px 150px; 
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
 }
 &__sexy img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
 }
 &__sexy:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
 } 
 &__maternal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}
& h3{
    font-size: 1.5rem;
    text-align: end;
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba(5, 0, 0, 0.8);
}
}

.ingresos{
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    align-items:flex-start;
    width: 100%;
    height: auto;
    padding: 0 auto;
    margin: 0px auto;
    overflow: hidden;
    box-sizing:border-box;
    flex-wrap: wrap;
    position: relative;
    &__corpino{
        width: 400px;
        height: auto;
        padding: 1px;
        margin: 5px 1px;
        border-radius: 10px;
    }
    &__body{
        width: 400px;
        height: auto;
        padding: 1px;
        margin: 5px 1px;
        border-radius: 10px;
    }
    &__camison{
        width: 400px;
        height: auto;
        padding: 1px;
        margin: 5px 1px;
        border-radius: 10px;
    }
    &__corpino img{
        width: 100%;
        height: 100%;
    }
    &__body img{
        width: 100%;
        height: 100%;
    }
    &__camison img{
        width: 100%;
        height: 100%;
    }
}




