*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    /*font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;*/
}

html {
    font-size: 20px;
}

@media screen and (max-width: 375px) {
    
    .contenedor{
        display: grid;
        grid-template-areas: 
        'header header header'
        'main main main'
        'footer footer footer'
        ;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        gap: 10px;
        background-color: white;
        height: 100vh;
        margin: 0%;

    }

    .encabezado{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100px;

    }
     
    .banner{

            display: flex;
            flex-direction: column;

   }

   

    }



.contenedor{
    display: grid;
    grid-template-areas: 
    'header header header'
    'main main main'
    'footer footer footer'
    ;
    grid-template-columns: auto;
    grid-template-rows: 1fr 18fr 1fr 1fr;
    gap: 20px;
    grid-auto-flow: dense;
    background-color: white;
    height: 100vh;
    margin: 0%;
    width: auto;
 
    
    
}

.contenedor header{
    grid-area: 1/1/1/4;
    width: auto;
    height: 200px;
    
   

}

.contenedor main{
    grid-area: 2/1/2/2;
    width: auto;
}

.contenedor footer{
    grid-area: 5/1/5/1;
    
}


    

/*.encabezado{
    grid-area: header;
  
}
.banner{
    grid-area: main 1/1/5/1;

}
    
.categorias{
    grid-area: main;
}
.ingresos{
    grid-area: main;
}
.fin{
    grid-area: footer;
}

*/

.encabezado{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100px;
    padding: 1px;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
   /* position: sticky;*/
    top: 0;
    background-color: white;
    box-sizing: border-box;
    /*overflow: hidden;/*
    /* background-image: url(./css-styles/imagenes/fondo.jpg);*/
    /* position:fixed;*/

    
    

}

.encabezado__navegador{
   
   /* background-color:pink;
    border: 0.5px solid pink;*/

    padding: 2px 0px;
    margin: 0 auto 0 auto;
    height: auto;
    width: 100%;
    align-content:space-between;
    text-align:center;
    flex-wrap: wrap;
    
   
    

}

.encabezado__barraPromo{
   /* padding:2px;
    margin: 0 auto;*/
    background-color: palevioletred;
    width: 100%;
    height: 30px;
    padding: 1px;
    margin: 1px 5px 1px 5px;
    align-items: center;
    text-align: center;
    
   
   /* box-sizing:content-box;*/     
    

  
}

.encabezado__whatsapp img{
    width: 80px;
    position: fixed;
    margin: 20px 10px 20px 10px;
    padding: 20px 10px 20px 10px;
    right: 15px;
    bottom: 15px;
    overflow: hidden;
    
    
}

.img-thumbnail{
    
   /* background-image: url(./css-styles/imagenes/fondo.jpg) ;*/
    width: 100px;
    height: 50px;
    padding: 1px;
    margin: 1px ;
    
    
}

.encabezado__logo img{
    
  /*  display:flex;
    flex-wrap: wrap;*/
    height: 100px;
    width:auto;
    margin: 0 auto;
    padding: 20px 1px 20px 1px;
    align-items:center;
    justify-content:space-evenly;
    
    
}

a{
    font-size: 16px;
    font-weight: 20px;
    line-height: 10px;
    letter-spacing: 1px; 
    text-decoration: none;
    color: black;
    line-height: 1.5;
    word-spacing: 1.5; 
   
}
    
.pages{
   
    
    /*align-items: center;
    align-content: center;
    list-style: none;
   /* overflow: hidden;*/
   display:flex;
   flex-direction: row;
   list-style: none;
   padding: 1px;
   justify-content: space-evenly;
   align-items: center;
   width: 100%;
   height: 100px;
   margin: 0 0 auto 1px ;
   
 
} 

.pages__item{
  
   margin: 0 auto;
   width: auto;
   height: 3px;
   text-align:center;
   border: 1 pink;
   font-size: 20px;
   
}

.banner{

    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 auto;
    margin: 1px 20px 1px 20px;
    overflow: hidden;
    box-sizing:border-box;
    flex-wrap: wrap;
   /*  border: 1px solid black;
   
   ;
    justify-items:center;
   */
   
}

.carousel-inner{
    width: auto;
    height: 800px;
}

.carousel-item{
    width: auto;
    height: 800px;
}
.categorias{
   
     /*display: flex;
     flex-direction: column;
     flex-wrap:wrap;
     justify-content:space-evenly;
     align-content:center; 
     height: 100vh;
     overflow:visible;
     width:fit-content;
     overflow-x: scroll;*/
     
 
     display: flex;
     flex-direction: row;
     margin: 20px 5px;
     height: auto;
     flex-wrap: wrap;
     justify-content:flex-start;
     overflow:hidden;
     width:100%;
     /*position:relative;*/
     align-content: 100vh;
     background-image: url(./css-styles/imagenes/fondo.jpg);
     background-repeat:repeat;
}

     /* align-content:center; 
     margin: 5px auto;
     padding: 1px 5px;
     box-sizing: content-box;
    {
}
   

.categorias__conjuntos--blanco:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;

   }

    
 .categorias__conjuntos--blanco{
    
    width: 400px;
    height: 600px;
    padding: 1px;
    margin:5px auto ;
    border-radius: 10px;
    box-shadow: 5px 8px 12px black;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
   
     
     
 }
 
/* .categorias__conjuntos a{
     text-decoration: none;
     color:black;
     font-weight: 300;
     font-size: 30px;
     width: 200px;
     letter-spacing: 2px;
 
 }*/

 .categorias__conjuntos{
    width: 400px;
    height: 600px;
    padding: 0 auto;
    margin:20px 50px 50px 100px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
    align-items: center;
 }
 
 .categorias__conjuntos img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
     
 }
  
 .categorias__conjuntos:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
 }
 
 .categorias__bodys{
    width: 400px;
    height: 600px;
    padding: 0 auto;
    margin: 30px 100px 50px 150px;
   
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
  
    
 }

 .categorias__bodys img{
   
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 20px;
     box-shadow: 5px 8px 12px black;
    
 }

.categorias__bodys:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
}

 
     
 .categorias__trajesDeBano{
    width: 400px;
    height: 600px;
    padding: 0 auto;
    margin:20px 50px 50px 150px;

    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
    
    
 }
 .categorias__trajesDeBano:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
 }
 
 /*.categorias__trajesDeBano a{
     text-decoration: none;
     color:black;
     font-weight: 300;
     font-size: 30px;
     width: 200px;
     letter-spacing: 2px;
     
 }
 */
 .categorias__trajesDeBano img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 20px;
     box-shadow: 5px 8px 12px black;
 }
 
 .categorias__pijamas {
    width: 400px;
    height: 600px;
    padding: 0 auto;
    margin:20px 100px 50px 100px;
    
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
 }

 .categorias__pijamas:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
 }
 
 /*.categorias__pijamas a{
     text-decoration: none;
     color:black;
     font-weight: 300;
     font-size: 30px;
     width: 200px;
     letter-spacing: 2px;
     
 }
 */
 .categorias__pijamas img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
 }
 
 .categorias__maternal{
 
    width: 400px;
    height: 600px;
    padding: 0 auto;
    margin:20px 100px 50px 100px;
    
    position:relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;

 }

 .categorias__maternal:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
 }

 .categorias__sexy{
    width: 400px;
    height: 600px;
    padding: 0 auto;
    margin:20px 50px 50px 150px;
    
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
 }

 .categorias__sexy img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
 }
 
 .categorias__sexy:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
 } 
 /*.categorias__maternal a{
 
     text-decoration: none;
     color:black;
     font-weight: 300;
     font-size: 30px;
     width: 200px;
     letter-spacing: 2px;
 }*/
 
 .categorias__maternal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;

   }

   


.categorias h3{
    font-size: 1.5rem;
    text-align: end;
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgb(0, 0, 0, 0.8);
}



.ingresos{
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    align-items:flex-start;
    width: 100%;
    height: auto;
    padding: 0 auto;
    margin: 0px auto;
    overflow: hidden;
    box-sizing:border-box;
    flex-wrap: wrap;
    
}

.ingresos__corpino{
    width: 500px;
    height: auto;
    padding: 1px;
    margin: 5px 1px;
}
.ingresos__body{
    width: 500px;
    height: auto;
    padding: 1px;
    margin: 5px 1px;
}
.ingresos__camison{
    width: 500px;
    height: auto;
    padding: 1px;
    margin: 5px 1px;
}

.ingresos__corpino img{
    width: 100%;
    height: 100%;
}
.ingresos__body img{
    width: 100%;
    height: 100%;
}

.ingresos__camison img{
    width: 100%;
    height: 100%;
}



/*.fin{
   
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    background-color: pink;
    width: 100%;
    height: auto;
    margin: 5px auto;
 
     /*display: flex;
     flex-direction: row;
     width: 100%;
     height: auto;
     padding: 1px;
     margin: 1px;
     flex-wrap: wrap;
     justify-content: space-evenly;
     top:0;
     
 }
 
 .fin__ubicacion{
     grid-area: 2/1/2/2 ;
 }
 .fin__rrss{
     grid-area: auto/2/4/3;
 }
 
 .fin__whatsapp{
     grid-area: 2/2/4/3;
     
 }
 */
 h2{
     text-align: center;
     background-color: pink;
     font-size: 30px;
     width: 100%;
    height: 50px;
    padding: 1px;
    margin: 1px 5px 1px 5px;
 }
 
 h4{
     text-align: center;
     margin-top: 10px;
     margin-bottom: 30px;
     font-size: 20px;
 }

 .h4__whatsapp{
     text-align: center;
     margin-top: 30px;
     font-size: 25px;
     margin-top: 30PX;
     
 }

 .iconos__button{
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    padding: 0 auto;
    font-size: 90px;
    display: flex;
    justify-content:flex-start;
    background-color: pink;
 }

.fin{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: pink;
    width: 100%;
    height: 100%;
    
    
}

.logo__fin img{
    width: 80px;
    height: auto;
    object-fit: cover;
    margin-top: 20px;
}

.logo__fin{
  width: auto;
  height: auto; 
}
 
.fin__redes{
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 30px;
}

.iconos {

    width: 80px;
    height: 80px;
    margin: 0 auto;
}


























.fin__ubicacion{
    width: auto;
    height: auto;
    margin: 0 auto;
 }
 
 .fin__ubicacion iframe {

    border-radius: 5px;
    width: 600px;
    height: 400px;
 }

 h5{
    text-align: center;
    font-size: 25px;
 }

 .nosotras{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    width: auto;
    gap: 5px;
    
    

    
 }

 .nosotras__quienessomos{
    grid-area: 1/2/3/1;
    width: auto;
    margin: 10px 10px;
    background-image: url(./css-styles/imagenes/fondo.jpg);
    font-weight: 10px;
    background-size: cover;

 }

 .nosotras__flor{
    grid-area: 3/2/1/3;
    width: 70%;
    height: 600px;
    margin: 5px auto;
    border: 0;
    border-radius: 12px;
    background-image: url(./blume/nosotras/modelo-feliz.png);
    background-repeat: no-repeat;
    background-size:contain;
    animation: carrousel 5s infinite;
    
 }
 
 @keyframes  carrousel{
    0%{
        background-image: url(./blume/nosotras/modelo-feliz.png);
    }
    100%{
        background-image: url(./blume/nosotras/quienes-somos.jpg);
    }
 }

 .table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    width: auto;
    height: 100%;
    
 }

 .table__talles{
    grid-area:1/2/2/1;
    width: 400px;
    height: 400px;
    margin: 15px 5px 5px 30px;
 }
 .table__talles1{
    grid-area:1/3/2/4;
    width: 400px;
    height: 400px;
    margin: 15px 5px 5px 30px;
 }
 .table__imagen{
    grid-area: 1/2/2/3;
    margin: 15px 5px 5px 30px;
 }

 .contacto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: auto;

 }
 .mb-3{
   margin: 5px 5px 5px 5px;
 }
 .mb-3 textarea{
    width: 300px;
    height: 200px;
 }
    
 .contacto__form h3{
    width: 100%;
    height: 30px;
    padding: 1px;
    margin: 1px 5px 1px 5px;
    align-items: center;
    text-align: center;
 }

 .productos{
    display: flex;
    align-items: center;
   
 }

 .productos__items{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;


 }

 .productos__items img{
    width: 300px;
    height: 400px;
    margin: 10px 30px 30px 30px;
    
 }

 .marcas{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   height: 100%;
    width: 100%;
 }
 .marcas__item{
    height: auto;
    width: auto;

 }

 .marcas__item img{
    width: 250px;
    height: 400px;
 }