

.fin__ubicacion iframe {

    border-radius: 5px;
    width: 600px;
    height: 400px;
 }

 

 .nosotras{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    width: auto;
    gap: 5px;  
 }

 .nosotras__quienessomos{
    grid-area: 1/2/3/1;
    width: auto;
    margin: 10px 10px;
    background-image: url(./css-styles/imagenes/fondo.jpg);
    font-weight: 10px;
    background-size: cover;

 }

 .nosotras__flor{
    grid-area: 3/2/1/3;
    width: 70%;
    height: 600px;
    margin: 5px auto;
    border: 0;
    border-radius: 12px;
    background-image: url(./blume/nosotras/modelo-feliz.png);
    background-repeat: no-repeat;
    background-size:contain;
    animation: carrousel 5s infinite;
    
 }
 
 @keyframes  carrousel{
    0%{
        background-image: url(./blume/nosotras/modelo-feliz.png);
    }
    100%{
        background-image: url(./blume/nosotras/quienes-somos.jpg);
    }
 }

 .table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    width: auto;
    height: 100%;
    
 }

 .table__talles{
    grid-area:1/2/2/1;
    width: 400px;
    height: 400px;
    margin: 15px 5px 5px 30px;
 }
 .table__talles1{
    grid-area:1/3/2/4;
    width: 400px;
    height: 400px;
    margin: 15px 5px 5px 30px;
 }
 .table__imagen{
    grid-area: 1/2/2/3;
    margin: 15px 5px 5px 30px;
 }

 .contacto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: auto;

 }


 .productos{
    display: flex;
    align-items: center;
   
 }

 .productos__items{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;


 }

 .productos__items img{
    width: 300px;
    height: 400px;
    margin: 10px 30px 30px 30px;
    
 }

 .marcas{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   height: 100%;
    width: 100%;
 }
 .marcas__item{
    height: auto;
    width: auto;

 }

 .marcas__item img{
    width: 250px;
    height: 400px;
 }